$sectionBackground: #eaded7;
$heroBackground: #f1f5f8;
$heroTextMain: #102a42;
$headingSub: #617d98;
$btnColor: #ab7a5f;
$textColor: #453227;
$textColorSec: #795744;


.header{
    background-color: $heroBackground;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0 93%);
}
.section{
    clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
    background-color: $sectionBackground;
    width: 100%;
    padding:  1rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.input{
    width: 90%;
    margin: 0 auto;
    padding:  5px 8px;
    margin-bottom: 1rem;
}

input{
    padding: 12px;
    border: none;
    outline: none;
    font-family: secFont;
    font-size: 16px;
    color: $textColor;

}
input[type = 'text']{
    width: 70%;
    border-radius: 3px 0 0 3px;
    
}
input[type='submit']{
    border-radius: 0 3px 3px 0;
    font-weight: bolder;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.flex.j{
    justify-content: left;
}
.text-align{
    text-align: center;
}
.btn{
    background-color: $btnColor;
    font-family: secFont;
}
.heading-section-sub{
    color: $textColor;
    font-size: 3.2rem;

}
.small{
    font-size: 16px;
}