:root{
    line-height: 1.4;

    font-size: 1.6rem;
}
@font-face {
    font-family: primaryFont;
    src: url('../src/assets/TCB_____.TTF');
}
@font-face {
    font-family: secFont;
    src: url('../src/assets/TCM_____.TTF');
}
svg{
    height: 100%;
}